bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.1.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.2.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.3.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.4.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.5.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.6.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.7.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.8.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.9.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.10.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.11.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.12.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.13.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.14.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.15.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.16.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.17.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.18.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.19.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.20.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.21.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.22.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.MT.fa
bos_taurus_UMD3.1_release-94_dna_rm_filtered/Bos_taurus.UMD3.1.dna_rm.chromosome.X.fa
bos_taurus_ARS-UCD1.3_release-112_dna_rm_filtered/
snpfile.txt